In [ ]:
import pandas as pd
import yfinance as yf
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# data
df = yf.download(["CAD=X", "AUDUSD=X"], start="2009-12-19", end="2012-04-12", auto_adjust = True)
df = df['Close']

[*********************100%***********************]  2 of 2 completed

In [13]:
cad = 1 / df['CAD=X']
aud = df["AUDUSD=X"]

y = pd.concat([aud.rename("AUD"), cad.rename("CAD")], axis=1).dropna()
y

                 AUD       CAD
Date
2009-12-21  0.880592  0.942063
2009-12-22  0.876501  0.945984
2009-12-23  0.879817  0.953562
2009-12-24  0.884564  0.952381
2009-12-25  0.885034  0.953289
...              ...       ...
2012-04-05  1.028098  1.003714
2012-04-06  1.029516  1.006948
2012-04-09  1.028796  1.002607
2012-04-10  1.031013  1.003512
2012-04-11  1.023395  0.995223

[602 rows x 2 columns]

In [ ]:
training = 250
lookback = 20

# NOTE simplify code with np.nan

hedge_ratio = pd.DataFrame(np.nan, index = y.index, columns = y.columns)
num_units = pd.Series(np.nan, index=y.index, name="numUnits")
num_units

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]])